body {
	font-family: sans-serif;
}

header {
  margin: 4px !important;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pending {
	color: purple;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0 !important;
  box-sizing: border-box;
}

.selected_album {
  float: left;
  padding: 8px 32px;
}

